/*! saumya.css v1.0.0 */

html {
  background: #FFECEC;
}

/* ****** Menu ****** */
#id_menu > li{
  display: inline-block;
  min-width: 6em;
  text-align: center;
  background-color: #B2E9FF;
  padding: 0.5em;

  user-select: none;
  cursor: default;
}
#id_menu > li:hover { 
  background-color: #4CCBFF;
}
#id_menu {
  background:#B2E9FF;
  list-style-type: none;
  padding: 0px;
  margin: 2px;
}
#id_menu > .active_menu{
  background-color: #4CCBFF;
}
/* ****** /Menu ****** */

#dApplication{
  background-color: #B8A0BB;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shortDetail{
  padding: 1em;
  background-color: #A3E3FE;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}